@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&display=swap');

body {
    background-color:beige;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: beige;
}

.nav_link {
    padding: 20px;
    color:rgb(67, 85, 37);
    font-size: 1.3em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(79, 79, 79, 0.336);
}

img {
    width: 45%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 30px;
    overflow:hidden;
    padding: 5px

}

#my-info{
    text-align: center;
    font-family: "Ubuntu", "Bradley Hand", serif;
    width: 45%;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(199, 53, 0, 0.363);
    border: 2px solid black;
    border-radius: 10px;
}

p {
    text-align: center;
    font-family: "Ubuntu", "Bradley Hand", serif;
    width: 45%;
    margin: 0 auto;
    padding: 30px;
}

a {
    color:black
}

nav a {
    text-decoration:none;
    font-family: "Ubuntu", "Bradley Hand", serif;
    
}
nav a:hover {
    color: rgb(199, 53, 0);
    background-color: rgba(54, 54, 54, 0.336);
}

#main_title {
    font-size: 3.5em;
    text-align: center;
    font-family: "Permanent Marker";
}

footer {
    background-color:rgba(79, 79, 79, 0.336);
    margin: 20px
}

