body {
    background-color:beige;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: beige;
}

.nav_link {
    padding: 20px;
    color:rgb(67, 85, 37);
    font-size: 1.3em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(79, 79, 79, 0.336);
}

img {
    width: 45%;
    display: block;
    margin: 0 auto;
    border: 2px solid black
}

p {
    text-align: center;
}

a {
    color:black
}

nav a {
    text-decoration:none
}
nav a:hover {
    color: rgb(199, 53, 0);
}

#main_title {
    font-size: 3.5em;
    text-align: center;
}

footer {
    background-color:rgba(79, 79, 79, 0.336);
}

